html,body{
    font-family: 'microsoft yahei',Arial,sans-serif;
    background-color: #F6f6f6;
    height: 100%;
}

@media (min-width: 768px) {
    .site-navbar .navbar-nav {
        float: right!important;
    }
}
.navbar-inverse {
    background-color: #cf4646;
    border-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: #efefef;
}
.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
    font-size: 16px;
	width:100px;
	text-align:center;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav > li > a {
	text-align:left;
	width:auto;
	}
}
.navbar-inverse .navbar-nav > li.nav-current{
    background-color: #bf2726;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li:hover > a{
    background-color: #bf2726;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse{
    border-color: #CA3131;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.ci-menu{
	border:1px solid #ddd; 
	background-color: #FFFFFF; 
	margin-top: 10px;
	padding: 10px 10px 0 10px;
}

.ci-menu a{
    color: #000;
    text-decoration: none;
}

.ci-menu a:hover{
    color: #3879d9;
    text-decoration: none;
}

.ci-menu i{
    color: #d33a3a;
}

.table {
    width:100%;
    max-width:100%;
    margin-bottom:20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding:5px;
    line-height:1.42857143;
    vertical-align:top;
    border-top:none;
}

.thumbnail{
    display:block;
    padding:4px;
    line-height:1.42857143;
    background-color: transparent;
    border: transparent;
}